<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bookingwebservice20160412033058.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bookingwebservice20160412033058.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BookingWebservice20160412033058</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BookingWebservice20160412033058</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HotelCloudContext" Order="1" Enabled="False">
          <Destination Path="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;Application Name=EntityFramework" Name="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookingWebservice.HotelCloudContext, BookingWebservice" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HotelContext" Order="2" Enabled="False">
          <Destination Path="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;Application Name=EntityFramework" Name="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookingWebservice.HotelContext, BookingWebservice" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="HotelGuestsContext" Order="3" Enabled="False">
          <Destination Path="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;Application Name=EntityFramework" Name="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookingWebservice.HotelGuestsContext, BookingWebservice" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BookingWebservice.Models.ApplicationDbContext" Order="4" Enabled="False">
          <Destination Path="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;Application Name=EntityFramework" Name="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BookingWebservice.Models.ApplicationDbContext, BookingWebservice" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GuestBookingContext" Order="5" Enabled="False">
          <Destination Path="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;Application Name=EntityFramework" Name="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=HotelDb;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GuestBookingContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDB)\MSSQLLocalDB;initial catalog=HotelDb;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;Application Name=EntityFramework" Name="Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BookingWebservice-20160310103758.mdf;Initial HotelCatalog=aspnet-BookingWebservice-20160310103758;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BookingWebservice-20160310103758.mdf;Initial HotelCatalog=aspnet-BookingWebservice-20160310103758;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BookingWebservice.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GuestBookingContext-Web.config Connection String">
      <ParameterValue>Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HotelCloudContext-Web.config Connection String">
      <ParameterValue>Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HotelContext-Web.config Connection String">
      <ParameterValue>Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HotelGuestsContext-Web.config Connection String">
      <ParameterValue>Data Source=hoteller.database.windows.net;Initial Catalog=HotelDb;Persist Security Info=True;User ID=martin;Password=Karsten123;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BookingWebservice.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>